<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='404.css')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opps 404</title>
</head>
<body>
   
    <div class="container">

    <div class="text-contatent">
        <h1>404</h1>
        <p>request not sent maybe our server down....<br> check the url </p>
    </div>
    <div class="img">
    <img src="{{url_for('static',filename='Resources/404.jpg')}}">
    </div>
    </div>
</body>
</html>