<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='contacts.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>sending..</title>
</head>
<body>
    <div class="msg-box">
    <div class="Thanku-card">
        <h1>Thank You for sending me your message</h1>
        <img class="thankimg" src="{{url_for('static',filename='Resources/msg_sent.jpg')}}">
        <a href="/" class="get-back">Go Back</a>
        <p>Sit back tight i will soon reply you...</p>
    </div>
</div>
</body>
</html>